/* Responsive grid */
.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

/* Tarjeta base */
.project-card{
  background: #222733;
  padding: 12px;
  border: 3px solid #111;
  transition: transform 0.15s steps(2), 
              box-shadow 0.15s steps(2), 
              border-color 0.15s steps(2);
  cursor: pointer;
  image-rendering: pixelated;
}

/* Imagen del proyecto */
.project-img{
  height: 140px;
  object-fit: cover;
  width: 100%;
  border-bottom: 2px solid #111;
  image-rendering: pixelated;
}

/* Hover estilo pixel art */
.project-card:hover{
  transform: translateY(-4px); /* Salta como un pixel block */
  box-shadow: 0 0 10px #000, 
              0 0 18px #2b2f44 inset; /* Glow elegante */

  border-color: #2b2f44; /* Borde “energizado” */
}

/* efecto a la imagen */
.project-card:hover .project-img{
  filter: brightness(1.15);
}