
/* Caja de cada columna */
.skills-box{
  background: #3a4060;
  padding: 30px;
  border-radius: 12px;
  width: 45%;
  border: 2px solid #1e2233;
  box-shadow: 0 0 6px #0004 inset;
}

/* Contenedor de columnas */
.skills-columns{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: nowrap;  /* Fuerza que estén lado a lado */
}

/* Subtítulo */
.skills-subtitle{
  margin-bottom: 15px;
  font-size: 18px;
  color: var(--accent);
  text-align: center;
}

/* Lista */
.skills-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* Ítem individual */
.skill-item{
  background: #2e344d;
  padding: 10px 16px;
  width: 100%;
  max-width: 220px;

  border: 2px solid #171a26;
  border-radius: 10px;

  font-size: 16px;
  color: #f1f1f1;
  text-align: center;

  box-shadow: 
    0 0 4px #0003 inset,
    0 0 3px #0003;

  image-rendering: pixelated;
}